.button-one {
  font-family: Arial;
}

.button-two {
  font-family: Helvetica;
}

@media (min-width: 0){
  .button-one {
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 35px;
    padding-bottom: 35px;
  }
}

@media (min-width: 740px){
  .button-one {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

@media (min-width: 1024px){
  .button-one {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

@media (min-width: 1399px){
  .button-one {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

@media (min-width: 1900px){
  .button-one {
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 70px;
    padding-bottom: 70px;
  }
}

@media (min-width: 0){
  .button-two {
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 35px;
    padding-bottom: 35px;
  }
}

@media (min-width: 740px){
  .button-two {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

@media (min-width: 1024px){
  .button-two {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

@media (min-width: 1399px){
  .button-two {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

@media (min-width: 1900px){
  .button-two {
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 70px;
    padding-bottom: 70px;
  }
}

@media (min-width: 0) and (max-width: 739px) {
  .button-one {
    color: pink;
  }
}

@media (min-width: 740px) {
  .button-one {
    color: blue;
  }
}

@media (min-width: 0) and (max-width: 739px) {
  .button-two {
    color: pink;
  }
}

@media (min-width: 740px) {
  .button-two {
    color: blue;
  }
}