figure {
  @column 7/12 sm/md;
  @responsive >=md {
    &:first-of-type {
      @space margin-right -1;
      @space padding-left 1.5;
      @space padding-top 3.5;
    }

    &:last-of-type {
      @space margin-top -2;
      @space margin-left -1;
      @space margin-right 1;
      @space padding-right 0.5;
    }

    &.center {
      @space padding-x 4;
      @space margin-top -2;
    }
  }
}