ul {
  color: pink;

  @responsive >=md {
    width: 100%;
    flex-direction: row;
  }

  @responsive <=sm {
    align-items: center;
    justify-content: center;
  }

  > li {
    @responsive >=md {
      color: theme(colors.transparent);
      line-height: 1;

      display: inline-block;
      white-space: nowrap;

      &.test {
        color: blue;
      }

      &:not(:last-of-type) {
        margin-right: 2vw;
      }
    }
  }
}
